@import 'tailwindcss';

@font-face {
  font-family: 'continuous';
  src: url('/continuous.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
}

.bgs {
  @apply z-0 relative w-full h-full;
}

.LoginStyleWhite {
  @apply flex z-10 absolute transform -translate-x-1/2 -translate-y-1/2 drop-shadow-[0_1.2px_1.2px_rgba(1,1,1,1)] text-white;
}

.LoginStyleTeal {
  @apply flex z-10 absolute transform -translate-x-1/2 -translate-y-1/2 drop-shadow-[0_1.2px_1.2px_rgba(1,1,1,1)] text-teal-400;
}

.imgst {
  @apply w-full h-full flex justify-center items-center;
}

.homest {
  @apply z-10 absolute top-10 left-1/2 transform -translate-x-1/2 w-full max-w-5xl items-center text-white drop-shadow-[0_1.2px_1.2px_rgba(1,1,1,1)];
}

html {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #1b1d25;
  color: white;
}

.equipment-wrapper {
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  opacity: 0;
  transform: translateX(100%);
}

.equipment-wrapper.slide-up {
  opacity: 1;
  transform: translateX(0%);
}

.equipment-wrapper.slide-down {
  opacity: 0;
  transform: translateX(100%);
}

.homemsst {
  @apply cursor-pointer hover:text-gray-500;
}

.modalst {
  @apply flex items-center gap-2 p-2 rounded-2xl hover:bg-gray-100 cursor-pointer text-xs;
}
.story-list-feature-wrapper {
  @apply p-10 bg-white rounded-lg shadow text-center;
}

.story-list-feature-wrapper2 {
  @apply p-10  rounded-lg shadow text-center shadow border  border-[#d2c5ae];
}

.story-list-h1 {
  @apply text-2xl font-bold text-[#3e2d1c] drop-shadow-md;
}

.story-list-h2 {
  @apply text-2xl font-bold  drop-shadow-md;
}

.classst {
  @apply cursor-pointer hover:bg-sky-100  rounded-xl border drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)];
}

.MST {
  @apply border px-2 py-1 rounded-2xl cursor-pointer hover:bg-sky-100 transition text-xl;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-box {
  animation: blink 0.1s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
